---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@font-face {
    font-family: 'RobotoMono-Regular';
    src: url('/assets/font/RobotoMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
